.nav-bar-component {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    border-bottom: solid #d4a742 1px;
    padding-inline: 2vw;
    padding-block: 16px;
    position: relative;
    transition: height 0.5s ease, padding 0.5s ease;
    overflow: hidden;
    height: 150px;
}

@media (max-width: 1050px){
    .nav-bar-component{
        height: 110px;
    }
}
.nav-bar-component.mobile {
    gap: 3vw;
    padding-bottom: 20px;
    height: 340px;
}

.nav-fullScreen {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo img {
    width: clamp(200px, 20vw, 300px);
}
@media (max-width: 1050px) {
    .nav-logo img {
        width: 195px;
    }
}

.mobile-holder {
    display: none;
}

@media (max-width: 1050px) {
    .mobile-holder {
        display: flex;
    }
}

.bar-icon {
    font-size: 25px;
    color: #3f444b;
    cursor: pointer;
    display: none;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: #fff;
    color: #000;
    max-width: 500px;
    width: 100%;
    margin-inline: auto;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, max-height 0.5s ease;
}

.mobile-links.active {
    /* this class for mobile-links active */
    opacity: 1;
}

.mobile-links a {
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    font-size: 13px;
    transition: background-color 0.5s;
    background-color: white;
}

.mobile-links a:hover {
    color: white;
    background-color: #3f444b;
}

.mobile-links a:focus {
    color: white;
    background-color: #3f444b;
}

.left-box {
    display: flex;
    gap: 40px;
}

.urls {
    color: #d4a742;
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (max-width: 1050px) {
    .urls {
        display: none;
    }
}


.urls a {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
    transition: color 0.2s ease-in;
}

.urls a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 0.3s ease;
}

.urls a:hover::after,
.urls a:focus::after {
    width: 100%;
    right: 0;
}

.urls a:hover,
.urls a:focus {
    color: white;
}

.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
@media (max-width: 867px) {
    .right-box {
        display: none;
    }
}

/* tablet screen */
@media (max-width: 1050px) {
    .bar-icon {
        display: flex;
        width: clamp(20px, 10vw, 40px);
    }
}

/* phone screen */
@media (max-width: 867px) {
    .EMER-logo {
        display: none;
    }
    .bar-icon {
        margin-right: 3vw;
    }
}
