.nav-bar-component{
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    padding: 15px;
    border-bottom-style: solid;
    border-bottom-color: #d4a742;
    border-bottom-width: 1px;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    height: 130px;
}
.nav-bar-component.mobile{
    height: 450px;
}

.nav-fullScreen{
    display: flex;
    justify-content: space-between;
}
.nav-logo img{
    width: 250px;
}

.mobile-holder{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 40px;
    transition: 1s;
}

.bar-icon{
    font-size: 25px;
    color: #3f444b;
    cursor: pointer;
    display: none;
}

.mobile-links{
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    margin-bottom: 30px;
    opacity: 0;
    transition: 0.5s;
}
.mobile-links.active{
    opacity: 1;
}

.mobile-links a{
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    font-size: 13px;
    transition: 0.2s;
    background-color: white;
}

.mobile-links a:hover{
    color: white;
    background-color: #3f444b;
}

.mobile-links a:focus{
    color: white;
    background-color: #3f444b;
}

.left-box{
    display: flex;
}

.nav-logo{
    margin-right: 40px;
}

.urls{
    color: #d4a742;
    display: flex;
    align-items: center;
    gap: 30px;
}

.urls a{
    position: relative;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;
    transition: 0.2s  ease-in;
}

.urls a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: 0.3s ease;
}

.urls a:hover::after, .urls a:focus::after {
    width: 100%;
    right: 0;
}
.urls a:hover,
.urls a:focus{
    color: white;
}

.right-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


/* tablet screen */
@media (max-width: 1050px) {
    .urls{
        display: none;
    }
    .bar-icon{
        display: flex;
    }
    .nav-logo img{
        width: 195px;
    }
}

/* phone screen */
@media (max-width: 867px) {
    .EMER-logo{
        display: none;
    }
    .mobile-links{
        width: 100%;
    }
    .bar-icon{
        margin: 0;
    }
}