.assistant-component{
    background-color: #222222;
    border-bottom: solid #d4a742 5px;
}

.assistant-bigBox{
    display:flex;
    max-width: 1140px;
    width: 100%;
    padding-block: 40px;
    gap: 16px;
    margin-inline: auto; 
    padding-inline: 10px;
}

@media (max-width : 770px){
    .assistant-bigBox{
        flex-direction: column;
    }
}

.team-information{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
@media (max-width : 770px){
    .team-information{
        width: 100%;
        padding-inline: 10px;
    }
}

.team-information-title{
    color: #d4a742;
    font-size: 20px;
    font-weight: 800;
}

.team-information-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
}

.personal-information{
    width: auto;
    border: solid #d4a742 1px;
    border-radius: 30px;
    padding: 20px 20px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
}

.team-image{
    width: 50%;
}

@media (max-width : 770px){
    .team-image img{
        width: 100%;
        height: 100%;
    }
    .team-image{
        width: 100%;
    }
}