.profilePage{
    background-color: #222222;
    display: flex;
    gap: 50px;
}

@media (max-width: 800px){
    .profilePage{
        background-color: #222222;
        display: flex;
        flex-direction: column;
        gap: 0  ;
    }
}