.faqs-component{
    background-color: #222222;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-block: 50px;
    color: white;
}

.faqs-title{
    max-width: 1140px;
    width: 95%;
    margin-inline: auto;
    font-size: 15px;
    font-weight: bold;
}

.all-questions{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1140px;
    width: 95%;
    margin-inline: auto;
    font-size: 15px;
}