.swiper-container {
    width: 100%;
    position: relative;
    height: 600px;
    border-bottom: solid #d4a742 5px;
}


.swiper-pagination{
    bottom: 0 !important;
    top: 40% !important;
    left: 100px !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content !important;
    width: fit-content !important;
}
@media (max-width: 1000px){
    .swiper-pagination{
        left: 50px !important;
    }
}

@media (max-width: 600px){
    .swiper-pagination{
        display: none;
    }
}

.bullet-divider{
    display: none;
}

.swiper-pagination-bullet-active .bullet-divider{
    display: flex;
    margin-left: 10px;
    font-size: 16px;
}

.swiper-pagination-bullet{
    gap: 3px;
    background-color: white;
    opacity: 1;
    transition: 0.3s;
    width: 5px;
    border-radius: 50%;
    height: 5px;
}

.swiper-pagination-bullet-active{
    background-color: #d4a742;
    height: 25px;
    width: 4px;
    border-radius: 2px;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
    border: solid white 1px;
    padding: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.swiper-button-next{
    right: 100px;
}

.swiper-button-prev{
    top: calc(40% - 20px);
    left: calc(100% - 160px);
}

@media (max-width: 1050px){
    
    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        transform: scale(1) !important;
        background-color: transparent !important;
        border-color: white !important;
    }
    .swiper-button-next:active,
    .swiper-button-prev:active {
        transform: scale(1.08) !important;
        background-color: transparent !important;
        border-color: white !important;
    }
}

@media(max-width: 600px){
    .swiper-button-next{
        top: calc(100% - 70px);
        right: 35%;
    }
    
    .swiper-button-prev{
        top: calc(100% - 70px);
        left: 30%;
    }
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
    transform: scale(1.08);
    background-color: #d4a742;
    border-color: #d4a742;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px;
}


@keyframes image-scale-down{
    0%{
        scale: 150%;
    }
    100%{
        scale: 100%;
    }
}

.swiper-slide-active #imageSlider{
    position: relative;
    animation-name: image-scale-down;
    animation-duration: 4s;
    width: 100%;
    object-fit: cover;
    height: inherit;
}
@keyframes rectangle-scale-down {
    0%{
        top: -400px;
    }
    30%{
        top: 0;
    }
    100%{

    }
}
.swiper-slide-active #rectangle-slider{
    position: absolute;
    width: 300px;
    width: 20%;
    height: 420px;
    left: 200px;
    background-color: #d4a742;
    opacity: 60%;
    z-index: 2;
    transition: 1.4s;
    animation-name: rectangle-scale-down;
    animation-duration: 4s;
}
@media (max-width: 1050px) {
    .swiper-slide-active #rectangle-slider{
        width: 200px;
        height: 400px;
    }
}
@media (max-width: 600px) {
    .swiper-slide-active #rectangle-slider{
        display: none;
    }
}

.swiper-slide-active #description-box{
    width: 750px;
    height: 150px;
    display: flex;
    position: absolute;
    background-color: #222222;
    opacity: 70%;
    bottom: 50px;
    right: 0;
    border-radius: 2px;
    font-size: 14px;
    padding: 30px 10px;
    z-index: 10;
}
@media (max-width: 1050px) {
    .swiper-slide-active #description-box{
        width: 80%;
        bottom: 20px;
    }
}
@media (max-width: 760px) {
    .swiper-slide-active #description-box{
        display: none;
    }
}
@keyframes description-animation{
    from{
        bottom: -100px;
        opacity: 0;
    }
    to{
        bottom: 0px;
        opacity: 100%;
    }
}

.swiper-slide-active #description{
    position: relative;
    width: 50%;
    line-height: 27px;
    border-right: solid #d4a742 1px;
    padding-right: 5px;
    transition: 1s;
    animation: description-animation 1s;
}

@keyframes join-now-animation{
    0%{
        right: -100px;
        opacity: 0;
    }
    100%{
        right: 0;
        opacity: 100%;
    }
}

.swiper-slide-active #join-now{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    right: 0;
    bottom: 0;
    top: 0;
    transition: 0.2s;
    animation: join-now-animation 1s;
}
@keyframes slider-titles{
    0%{
        opacity: 0;
        left: 900px;
    }
    100%{
        opacity: 100%;
        left: 0;
    }
}

.swiper-slide-active #slider-text{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 25%;
    z-index: 11;
}

@media (max-width: 1050px) {
    .swiper-slide-active #slider-text{
        left: 15%;
        max-width: 80%;
    }
}

@media (max-width: 600px) {
    .swiper-slide-active #slider-text{
        padding-inline: 5vw;
        max-width: 100%;
        text-align: center;
        top: 30%;
        left: 0;
    }
}

.swiper-slide-active #slider-titles{
    position: relative;
    font-size: 50px;
    font-weight: 600;
    animation: slider-titles 0.8s;
}

@media (max-width: 1050px) {
    .swiper-slide-active #slider-titles{
        font-size: 45px;
        font-weight: 600;
    }
}


.swiper-slide-active #slider-description{
    position: relative;
    font-size: 25px;
    font-weight: 500;
    animation: slider-titles 0.5s;
}

@media (max-width: 1050px) {
    .swiper-slide-active #slider-description{
        font-size: 25px;
        font-weight: 600;
    }
}