.gtoNumbers-component{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #222222;
    border-bottom: solid #d4a742 4px;
    align-items: center;
    padding-block: 40px;
    padding-inline: 5%;
}

.gtoNumbers-title{
    color: #d4a742;
    font-size: 2vw;
    font-weight: 700;
}

@media (max-width: 800px) {
    
    .gtoNumbers-title{
        color: #d4a742;
        font-size: 7vw;
        font-weight: 700;
    }
}

.gtoNumbers-parag1, .gtoNumbers-parag2{
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
    line-height: 5vw;
}
@media (max-width: 800px) {
    .gtoNumbers-parag1, .gtoNumbers-parag2{
        text-align: center;
        font-size: 7vw;
        font-weight: 600;
        line-height: 10vw;
    }
}

.gtoNumbers-component span{
    color: #d4a742;
}